openapi: 3.2.0
info:
  title: Dosespot Pharmacies API
  version: '1.0'
  description: 'Operations tagged Pharmacies across 3 of this provider''s published API definitions: dosespot-openapi.yml, dosespot-rest-api-full-epcs-v2-swagger.json, dosespot-rest-api-jumpstart-epcs-v2-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://my.dosespot.com/webapi/v2
  description: Production
- url: https://my.staging.dosespot.com/webapi/v2
  description: Staging
- url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
- url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/JumpStart_EPCSV2
tags:
- name: Pharmacies
  description: Surescripts pharmacy search and patient pharmacy management.
paths:
  /pharmacies/search:
    get:
      operationId: searchPharmacies
      tags:
      - Pharmacies
      summary: Search pharmacies
      description: Search the Surescripts pharmacy directory by name, city, state, ZIP, or specialty.
      parameters:
      - name: name
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: specialty
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Matching pharmacies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacySearchResult'
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://my.dosespot.com/webapi/v2
      description: Production
    - url: https://my.staging.dosespot.com/webapi/v2
      description: Staging
  /patients/{patientId}/pharmacies:
    get:
      operationId: getPatientPharmacies
      tags:
      - Pharmacies
      summary: List a patient's pharmacies
      description: Retrieve the pharmacies saved to a patient for prescription routing.
      parameters:
      - name: patientId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The patient's pharmacies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacySearchResult'
      security:
      - bearerAuth: []
        subscriptionKey: []
    post:
      operationId: addPatientPharmacy
      tags:
      - Pharmacies
      summary: Add a pharmacy to a patient
      description: Save a pharmacy to a patient's preferred pharmacy list.
      parameters:
      - name: patientId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPharmacyRequest'
      responses:
        '200':
          description: The result of adding the pharmacy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResult'
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://my.dosespot.com/webapi/v2
      description: Production
    - url: https://my.staging.dosespot.com/webapi/v2
      description: Staging
  /api/pharmacies/search:
    get:
      tags:
      - Pharmacies
      summary: Search pharmacies
      description: Returns a list of pharmacies matching the specified search parameters
      operationId: Pharmacies_PharmacySearchV2
      parameters:
      - name: name
        in: query
        description: Pharmacy name
        required: false
        schema:
          type: string
      - name: city
        in: query
        description: City
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: State
        required: false
        schema:
          type: string
      - name: zip
        in: query
        description: ZIP code
        required: false
        schema:
          type: string
      - name: address
        in: query
        description: Street address
        required: false
        schema:
          type: string
      - name: phoneOrFax
        in: query
        description: Phone or fax number
        required: false
        schema:
          type: string
      - name: specialty
        in: query
        description: Array of pharmacy specialty types to filter the search.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Any
            - FaxPharmacy
            - EPCS
            - TwentyFourHourPharmacy
            - LongTermCarePharmacy
            - MailOrder
            - Retail
            - SpecialtyPharmacy
      - name: ncpdpId
        in: query
        description: NCPDP identifier for the pharmacy.
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number for paginated search results. Defaults to 1.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            text/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
  /api/pharmacies/{pharmacyId}:
    get:
      tags:
      - Pharmacies
      summary: Get pharmacy details
      description: Retrieves key data about a single pharmacy on the Surescripts ePrescribing network
      operationId: Pharmacies_GetPharmacyV2
      parameters:
      - name: pharmacyId
        in: path
        description: Pharmacy ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse_Pharmacy'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemResponse_Pharmacy'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ItemResponse_Pharmacy'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemResponse_Pharmacy'
            text/xml:
              schema:
                $ref: '#/components/schemas/ItemResponse_Pharmacy'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
  /api/patients/{patientId}/pharmacies:
    get:
      tags:
      - Pharmacies
      summary: Get patient's pharmacies
      description: "Retrieves a detailed list of a preferred pharmacies in the patientâ\x80\x99s record"
      operationId: Pharmacies_GetPatientPharmaciesV2
      parameters:
      - name: patientId
        in: path
        description: Patient ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PatientPharmacy'
            text/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PatientPharmacy'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ListResponse_PatientPharmacy'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListResponse_PatientPharmacy'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListResponse_PatientPharmacy'
    post:
      tags:
      - Pharmacies
      summary: Add Pharmacy to Patient
      description: "Adds a pharmacy to a patientâ\x80\x99s preferred pharmacies list"
      operationId: Pharmacies_AddPatientPharmacyV2
      parameters:
      - name: patientId
        in: path
        description: Patient ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Response'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/Response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
          application/problem+json:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddEditPatientPharmacyRequest'
        required: true
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
  /api/pharmacies/restrictions:
    get:
      tags:
      - Pharmacies
      summary: Get Pharmacy Restrictions
      description: 'Retrieves a list of a preferred pharmacies given

        a Dispensable Drug ID'
      operationId: Pharmacies_GetPharmacyRestrictionsV2
      parameters:
      - name: dispensableDrugId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        required: false
        schema:
          type: integer
          format: int32
          maximum: 2147483645
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
            text/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_Pharmacy'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
  /api/patients/{patientId}/pharmacies/{pharmacyId}:
    delete:
      tags:
      - Pharmacies
      summary: Delete Pharmacy from Patient
      description: "Removes a pharmacy from a patientâ\x80\x99s preferred pharmacies list"
      operationId: Pharmacies_RemovePatientPharmacyV2
      parameters:
      - name: patientId
        in: path
        description: Patient ID
        required: true
        schema:
          type: integer
          format: int32
      - name: pharmacyId
        in: path
        description: Pharmacy ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Response'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/Response'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
components:
  schemas:
    ResultStatus:
      type: object
      properties:
        ResultCode:
          type: string
          description: OK or ERROR.
        ResultDescription:
          type: string
    AddPharmacyRequest:
      type: object
      properties:
        PharmacyId:
          type: integer
        SetAsPrimary:
          type: boolean
    Pharmacy:
      type: object
      properties:
        PharmacyId:
          type: integer
        StoreName:
          type: string
        Address1:
          type: string
        Address2:
          type: string
        City:
          type: string
        State:
          type: string
        ZipCode:
          type: string
        PrimaryPhone:
          type: string
        PrimaryFax:
          type: string
        PharmacySpecialties:
          type: array
          items:
            type: string
    ApiResult:
      type: object
      properties:
        Result:
          $ref: '#/components/schemas/ResultStatus'
    PharmacySearchResult:
      allOf:
      - $ref: '#/components/schemas/ApiResult'
      - type: object
        properties:
          Items:
            type: array
            items:
              $ref: '#/components/schemas/Pharmacy'
          PageResult:
            $ref: '#/components/schemas/PageResult'
    PageResult:
      type: object
      properties:
        CurrentPage:
          type: integer
        TotalPages:
          type: integer
        PageSize:
          type: integer
        HasPrevious:
          type: boolean
        HasNext:
          type: boolean
    Result:
      type: object
      required:
      - ResultCode
      properties:
        ResultCode:
          type: string
          description: The result code of the operation.
        ResultDescription:
          type: string
          description: A description of the result, if there were errors.
      description: Represents the result of a service operation.
    ListResponse_PatientPharmacy:
      type: object
      properties:
        Items:
          type: array
          description: The list of elements to return.
          items:
            $ref: '#/components/schemas/PatientPharmacy'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
      description: Represents a generic response containing a list of objects.
    Response:
      type: object
      properties:
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
      description: The result of the operation.
    Pharmacy_2:
      type: object
      properties:
        PharmacyId:
          type: integer
          format: int32
          description: The pharmacy identifier.
        StoreName:
          type: string
          description: The pharmacy store name.
        Address1:
          type: string
          description: The pharmacy address.
        Address2:
          type: string
          description: The pharmacy address.
        City:
          type: string
          description: The pharmacy city.
        State:
          type: string
          description: The pharmacy state.
        ZipCode:
          type: string
          description: The pharmacy zip code.
        PrimaryPhone:
          type: string
          description: The pharmacy primary phone number.
        PrimaryPhoneType:
          type: string
          description: The pharmacy primary phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PrimaryFax:
          type: string
          description: The pharmacy primary fax number.
        PhoneAdditional1:
          type: string
          description: Additional phone number.
        PhoneAdditionalType1:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional2:
          type: string
          description: Additional phone number.
        PhoneAdditionalType2:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional3:
          type: string
          description: Additional phone number.
        PhoneAdditionalType3:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PharmacySpecialties:
          type: array
          description: The pharmacy specialties.
          items:
            type: string
        ServiceLevel:
          type: integer
          format: int32
          description: The pharmacy service level.
        Latitude:
          type: number
          format: double
          description: The pharmacy Latitude.
        Longitude:
          type: number
          format: double
          description: The pharmacy Longitude.
        NCPDPID:
          type: string
      description: Represents a pharmacy entity.
    PatientPharmacy:
      type: object
      properties:
        IsDefault:
          type: boolean
          description: Whether or not the pharmacy is patient preferred.
        PharmacyId:
          type: integer
          format: int32
          description: The pharmacy identifier.
        StoreName:
          type: string
          description: The pharmacy store name.
        Address1:
          type: string
          description: The pharmacy address.
        Address2:
          type: string
          description: The pharmacy address.
        City:
          type: string
          description: The pharmacy city.
        State:
          type: string
          description: The pharmacy state.
        ZipCode:
          type: string
          description: The pharmacy zip code.
        PrimaryPhone:
          type: string
          description: The pharmacy primary phone number.
        PrimaryPhoneType:
          type: string
          description: The pharmacy primary phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PrimaryFax:
          type: string
          description: The pharmacy primary fax number.
        PhoneAdditional1:
          type: string
          description: Additional phone number.
        PhoneAdditionalType1:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional2:
          type: string
          description: Additional phone number.
        PhoneAdditionalType2:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional3:
          type: string
          description: Additional phone number.
        PhoneAdditionalType3:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PharmacySpecialties:
          type: array
          description: The pharmacy specialties.
          items:
            type: string
        ServiceLevel:
          type: integer
          format: int32
          description: The pharmacy service level.
        Latitude:
          type: number
          format: double
          description: The pharmacy Latitude.
        Longitude:
          type: number
          format: double
          description: The pharmacy Longitude.
        NCPDPID:
          type: string
      description: Represents a pharmacy entity in relation to a patient.
    AddEditPatientPharmacyRequest:
      type: object
      properties:
        PharmacyId:
          type: integer
          format: int32
        SetAsPrimary:
          type: boolean
    ItemResponse_Pharmacy:
      type: object
      properties:
        Item:
          description: The response object.
          $ref: '#/components/schemas/Pharmacy_2'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
      description: Represents a generic response containing a single object.
    PageResult_2:
      type: object
      properties:
        CurrentPage:
          type: integer
          format: int32
        TotalPages:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        TotalCount:
          type: integer
          format: int32
        HasPrevious:
          type: boolean
          readOnly: true
        HasNext:
          type: boolean
          readOnly: true
    PagedListResponse_Pharmacy:
      type: object
      properties:
        Items:
          type: array
          description: The list of elements to return.
          readOnly: true
          items:
            $ref: '#/components/schemas/Pharmacy_2'
        PageResult:
          $ref: '#/components/schemas/PageResult_2'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
    Pharmacy_3:
      type: object
      properties:
        PharmacyId:
          type: integer
          format: int32
          description: The pharmacy identifier.
        StoreName:
          type: string
          description: The pharmacy store name.
        Address1:
          type: string
          description: The pharmacy address.
        Address2:
          type: string
          description: The pharmacy address.
        City:
          type: string
          description: The pharmacy city.
        State:
          type: string
          description: The pharmacy state.
        ZipCode:
          type: string
          description: The pharmacy zip code.
        PrimaryPhone:
          type: string
          description: The pharmacy primary phone number.
        PrimaryPhoneType:
          type: string
          description: The pharmacy primary phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PrimaryFax:
          type: string
          description: The pharmacy primary fax number.
        PhoneAdditional1:
          type: string
          description: Additional phone number.
        PhoneAdditionalType1:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional2:
          type: string
          description: Additional phone number.
        PhoneAdditionalType2:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PhoneAdditional3:
          type: string
          description: Additional phone number.
        PhoneAdditionalType3:
          type: string
          description: Additional phone type.
          enum:
          - Undefined
          - Beeper
          - Cell
          - Fax
          - Home
          - Work
          - Night
          - Primary
        PharmacySpecialties:
          type: array
          description: The pharmacy specialties.
          items:
            type: string
        ServiceLevel:
          type: integer
          format: int32
          description: The pharmacy service level.
        Latitude:
          type: number
          format: double
          description: The pharmacy Latitude.
        Longitude:
          type: number
          format: double
          description: The pharmacy Longitude.
        NCPDPID:
          type: string
      description: Represents a pharmacy entity.
    ItemResponse_Pharmacy_2:
      type: object
      properties:
        Item:
          description: The response object.
          $ref: '#/components/schemas/Pharmacy_3'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
      description: Represents a generic response containing a single object.
    PageResult_3:
      type: object
      properties:
        CurrentPage:
          type: integer
          format: int32
        TotalPages:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        TotalCount:
          type: integer
          format: int32
        HasPrevious:
          type: boolean
          readOnly: true
        HasNext:
          type: boolean
          readOnly: true
    PagedListResponse_Pharmacy_2:
      type: object
      properties:
        Items:
          type: array
          description: The list of elements to return.
          readOnly: true
          items:
            $ref: '#/components/schemas/Pharmacy_3'
        PageResult:
          $ref: '#/components/schemas/PageResult_3'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token obtained from the DoseSpot token endpoint (POST /webapi/v2/connect/token) using your clinic and clinician credentials, sent as an Authorization: Bearer header.'
    subscriptionKey:
      type: apiKey
      in: header
      name: Subscription-Key
      description: Per-application subscription key issued by DoseSpot.
x-refined-from:
- dosespot-openapi.yml
- dosespot-rest-api-full-epcs-v2-swagger.json
- dosespot-rest-api-jumpstart-epcs-v2-swagger.json
