openapi: 3.0.1
info:
  title: DoseSpot Medications API
  description: DoseSpot is a Surescripts- and EPCS-certified electronic prescribing (eRx) platform. The REST API (v2) lets healthcare and EHR/EMR applications embed the full prescription lifecycle - patients, prescriptions, medications and drug search, pharmacies, clinicians/prescribers, eligibility, and notifications. Requests are authenticated with an OAuth2 Bearer access token obtained from the token endpoint and a per-application Subscription-Key header; access is scoped by clinic and clinician keys. Endpoint paths, request/response schemas, and field names below are modeled from DoseSpot's publicly described API v2 surface and integration guides; consult DoseSpot's partner documentation for the authoritative, complete contract.
  termsOfService: https://dosespot.com/
  contact:
    name: DoseSpot Support
    url: https://dosespot.com/full-integration/
  version: '2.0'
servers:
- url: https://my.dosespot.com/webapi/v2
  description: Production
- url: https://my.staging.dosespot.com/webapi/v2
  description: Staging
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Medications
  description: Medi-Span drug search and interaction checks.
paths:
  /medications/search:
    get:
      operationId: searchMedications
      tags:
      - Medications
      summary: Search the drug database
      description: Search the Medi-Span drug database for medications and supplies by name.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Matching medications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationSearchResult'
  /medications/interactions:
    post:
      operationId: checkMedicationInteractions
      tags:
      - Medications
      summary: Check drug interactions
      description: Run drug-drug and drug-allergy interaction checks for a set of medications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionCheckRequest'
      responses:
        '200':
          description: Detected interactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionCheckResult'
components:
  schemas:
    PageResult:
      type: object
      properties:
        CurrentPage:
          type: integer
        TotalPages:
          type: integer
        PageSize:
          type: integer
        HasPrevious:
          type: boolean
        HasNext:
          type: boolean
    ApiResult:
      type: object
      properties:
        Result:
          $ref: '#/components/schemas/ResultStatus'
    InteractionCheckResult:
      allOf:
      - $ref: '#/components/schemas/ApiResult'
      - type: object
        properties:
          Interactions:
            type: array
            items:
              type: object
              properties:
                Severity:
                  type: string
                Description:
                  type: string
    InteractionCheckRequest:
      type: object
      properties:
        PatientId:
          type: integer
        MedicationIds:
          type: array
          items:
            type: integer
    MedicationSearchResult:
      allOf:
      - $ref: '#/components/schemas/ApiResult'
      - type: object
        properties:
          Items:
            type: array
            items:
              $ref: '#/components/schemas/Medication'
          PageResult:
            $ref: '#/components/schemas/PageResult'
    ResultStatus:
      type: object
      properties:
        ResultCode:
          type: string
          description: OK or ERROR.
        ResultDescription:
          type: string
    Medication:
      type: object
      properties:
        NDC:
          type: string
        LexiGenProductId:
          type: integer
        LexiDrugSynId:
          type: integer
        LexiSynonymTypeId:
          type: integer
        Name:
          type: string
        Strength:
          type: string
        GenericProductName:
          type: string
        DrugClassification:
          type: string
        Schedule:
          type: string
          description: DEA schedule for controlled substances.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token obtained from the DoseSpot token endpoint (POST /webapi/v2/connect/token) using your clinic and clinician credentials, sent as an Authorization: Bearer header.'
    subscriptionKey:
      type: apiKey
      in: header
      name: Subscription-Key
      description: Per-application subscription key issued by DoseSpot.
