openapi: 3.2.0
info:
  title: Dosespot Notifications API
  version: '1.0'
  description: 'Operations tagged Notifications across 3 of this provider''s published API definitions: dosespot-openapi.yml, dosespot-rest-api-full-epcs-v2-swagger.json, dosespot-rest-api-jumpstart-epcs-v2-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://my.dosespot.com/webapi/v2
  description: Production
- url: https://my.staging.dosespot.com/webapi/v2
  description: Staging
- url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
- url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/JumpStart_EPCSV2
tags:
- name: Notifications
  description: Clinician notification counts and actionable items.
paths:
  /notifications/counts:
    get:
      operationId: getNotificationCounts
      tags:
      - Notifications
      summary: Get notification counts
      description: Retrieve the count of pending notifications and actionable items (transmission errors, refill requests, pharmacy responses) for the authenticated clinician.
      responses:
        '200':
          description: Notification counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationCountResult'
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://my.dosespot.com/webapi/v2
      description: Production
    - url: https://my.staging.dosespot.com/webapi/v2
      description: Staging
  /api/notifications/counts:
    get:
      tags:
      - Notifications
      summary: Get Notification Counts For Current Clinician
      description: Lists the number of notifications for refill requests, transmission errors, and prescriptions that are pending a response from the clinician at a single clinic
      operationId: Notifications_GetPrescriberNotificationCountsV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriberNotificationCountsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PrescriberNotificationCountsResponse'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PrescriberNotificationCountsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PrescriberNotificationCountsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PrescriberNotificationCountsResponse'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
  /api/notifications/errors:
    get:
      tags:
      - Notifications
      summary: Get Transmission Errors For Current Clinician
      description: Lists the notifications for transmission errors for the clinician's associated clinic(s)
      operationId: Notifications_GetTransmissionErrorDetailsV2
      parameters:
      - name: pageNumber
        in: query
        required: false
        schema:
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
      - name: clinic
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Current
          maximum: 1
          minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_TransmissionErrors'
            text/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_TransmissionErrors'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PagedListResponse_TransmissionErrors'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_TransmissionErrors'
            text/xml:
              schema:
                $ref: '#/components/schemas/PagedListResponse_TransmissionErrors'
    servers:
    - url: https://virtserver.swaggerhub.com/DoseSpot/dosespot-staging-rest-api-v2/Full_EPCSV2
components:
  schemas:
    ApiResult:
      type: object
      properties:
        Result:
          $ref: '#/components/schemas/ResultStatus'
    NotificationCountResult:
      allOf:
      - $ref: '#/components/schemas/ApiResult'
      - type: object
        properties:
          PendingPrescriptionsCount:
            type: integer
          TransmissionErrorsCount:
            type: integer
          RefillRequestsCount:
            type: integer
          PharmacyResponsesCount:
            type: integer
          TotalNotificationCount:
            type: integer
    ResultStatus:
      type: object
      properties:
        ResultCode:
          type: string
          description: OK or ERROR.
        ResultDescription:
          type: string
    Result:
      type: object
      required:
      - ResultCode
      properties:
        ResultCode:
          type: string
          description: The result code of the operation.
        ResultDescription:
          type: string
          description: A description of the result, if there were errors.
      description: Represents the result of a service operation.
    TransmissionErrors:
      type: object
      properties:
        PrescriptionId:
          type: integer
          format: int32
        DateWritten:
          type: string
          format: date-time
        ErrorDateTimeStamp:
          type: string
          format: date-time
        ErrorDetails:
          type: string
        PatientId:
          type: integer
          format: int32
        ClinicId:
          type: integer
          format: int32
    PagedListResponse_TransmissionErrors:
      type: object
      properties:
        Items:
          type: array
          description: The list of elements to return.
          readOnly: true
          items:
            $ref: '#/components/schemas/TransmissionErrors'
        PageResult:
          $ref: '#/components/schemas/PageResult'
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
    PrescriberNotificationCountsResponse:
      type: object
      properties:
        RefillRequestsCount:
          type: integer
          format: int32
        TransactionErrorsCount:
          type: integer
          format: int32
        PendingPrescriptionsCount:
          type: integer
          format: int32
        PendingRxChangeCount:
          type: integer
          format: int32
        Result:
          description: The result of the operation.
          $ref: '#/components/schemas/Result'
    PageResult:
      type: object
      properties:
        CurrentPage:
          type: integer
          format: int32
        TotalPages:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        TotalCount:
          type: integer
          format: int32
        HasPrevious:
          type: boolean
          readOnly: true
        HasNext:
          type: boolean
          readOnly: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 access token obtained from the DoseSpot token endpoint (POST /webapi/v2/connect/token) using your clinic and clinician credentials, sent as an Authorization: Bearer header.'
    subscriptionKey:
      type: apiKey
      in: header
      name: Subscription-Key
      description: Per-application subscription key issued by DoseSpot.
x-refined-from:
- dosespot-openapi.yml
- dosespot-rest-api-full-epcs-v2-swagger.json
- dosespot-rest-api-jumpstart-epcs-v2-swagger.json
